body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

form {
  margin-top: 30px;
}

.col {
  margin-bottom: 20px;
}

.card {
  margin-bottom: 20px;
}

.card p {
  font-size: 1.1rem;
}